@import url(https://fonts.googleapis.com/css2?family=Raleway);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab);
.reader{
    max-width: 50rem;
}

.navbar-brand{
    margin-left: var(--bs-navbar-brand-margin-end);
}
h1, h2, .lead{
    font-family: Raleway;
}

body{
    font-family: Roboto Slab;
}

.verse:hover{
    cursor: pointer;
    border-left: solid 0.5px #aaa;
}